<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
   
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link type="text/css" href="{% static 'lost/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'lost/css/mdb.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'lost/css/style.css' %}" rel="stylesheet">
    
</head>

<body>

<h1 class="h1-responsive  wow fadeInDown" style="text-align: center;"> Welcome to the Page</h1>
<h1 class="h1-responsive wow fadeInLeft " data-wow-delay="0.2s" style="text-align: center;">Lost and Found </h1>


<div class="container-fluid" style="margin-top: 50px">
<table class="table table-striped">

{% for data in all_data %}
    
	 {% if data.status %}
        <div class="row">
           
                <div class="col-xs-3">
                    {{ data.id }}
                </div>
                <div class="col-xs-3">
                    {{ data.name }}
                </div>
                <div class="col-xs-3">
                    {{ data.date }}
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-primary col-xs-6 col-xs-6 offset-6" href="{{ data.id }}"> View </a>
                </div>
           
        </div>
       
    {% else %}
               <div class="row">
           
                <div class="col-xs-3">
                    {{ data.id }}
                </div>
                <div class="col-xs-3">
                    {{ data.name }}
                </div>
                <div class="col-xs-3">
                    {{ data.date }}
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-primary col-xs-6 col-xs-6 offset-6" href="{{ data.id }}"> View </a>
                </div>
           
        </div>
       
    {% endif %}     
{% endfor %}

</table>
</div>



    <script type="text/javascript" src="{% static 'lost/js/jquery-2.2.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lost/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lost/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lost/js/mdb.min.js' %}"></script>
    <script>
            new WOW().init();  
    </script>
    
 </body>